
.new-releases {
    margin: 2rem 3rem;
}


h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 0 #2E3436;
    font-family: var(--font-lexend);
    color: #2E3436;
    letter-spacing: -0.5px;
}

h6 {
    color: #272e2e;
    width: 60rem;
}