header {
    display: flex;
    height: 2rem;
    align-items: center;
}

.header_logo {
    font-family: 'Lexend', sans-serif, 'Roboto';
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem;
}


