@import "tailwindcss";

:root {
  background-color: #F8F9FA;
  font-family: 'Lexend', sans-serif;
  --font-lexend: 'Lexend', sans-serif;
  --grey-colour: #72768b;
  --blue-selected: #1798F7;
}

body {
  margin: 0;
}